.step1Inputs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.stepsVisualCont{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.stepVis{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.stepNum{
    text-align: center;
    background-color: lightgrey;
    width: 50px;
    height: 50px;
    border-radius: 100px;
}
.button{
    margin-top: 30px;
    text-align: center;
}
.button button{
    padding: 15px 60px;
    border-radius: 15px;
}
.container{
    margin-bottom: 5vh;
}
@media screen and (max-width: 768px) {
    .stepsVisualCont{
        margin-bottom: 50px;
    }
}