
.filter button{
    padding: 5px 30px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.card-text span{
    font-weight: 400;
}
.card a{
    text-decoration: none;
}
.card p, .card h2, .card h4{
    font-family: "lato";
    font-style: italic;
    font-weight: bold;
}

.card img{
    height: 300px;
}
.card button{
    border: transparent;
    background-color: pink;
}
@media screen and (max-width: 768px) {

}