input{      
    border: transparent;
    background-color: rgb(216, 187, 211);
    
}
::placeholder{
    color: white;
}
textarea , button, input{
    border: transparent;
    background-color: rgba(164, 142, 242, 0.783);
    color: white;
}
input, textarea, button{
    opacity: 0.5;
}
.bg{
    background-image: url(../images/girl.jpg);
    background-size: cover;
    opacity: 0.8;
    padding-bottom: 20vh;
}
h1{
    color: white;
}
/* @media screen and (min-width: 2560px) {
    .bg{
        height: 100vh;
    }
} */
