.footer {
    background-size: cover;
    color: white;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.footer img{
    position: absolute;
}

.list-container {
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footerCont{
    background-color: rgb(255, 61, 129);
    background-image: url(../images/pawpatrol.png);
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: bottom left;
}
.list-container ul{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.list {
    list-style: none;
    padding: 0;
}

.social ul {
    text-align: center;
}

.nav-links ul {
    text-align: center;
}

.nav-links li {
    margin: 10px;
}

.address ul {
    text-align: center;
}
.list a{
    color: white;
    text-decoration: underline;
}
@media screen and (max-width: 768px) {
    .footer{
        height: 350px;
    }
    .footerCont{
        background-size: 100px;
        background-position: bottom left;
    }
}