.footer {
    background-size: cover;
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
}
.footer img{
    position: absolute;
}

.list-container {
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footerCont{
    background-image: linear-gradient(to right, rgb(255, 116, 202) , rgb(129, 198, 255));
}
.list-container ul{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.list {
    list-style: none;
    padding: 0;
}

.social ul {
    text-align: center;
}

.nav-links ul {
    text-align: center;
}

.nav-links li {
    margin: 10px;
}

.address ul {
    font-family: 'Lato';
    margin-top: 20px;
    
}
/* .address p{
    margin: 20px;
} */
.list a{
    color: white;
    text-decoration: none;
}
.footer h3{
    font-family: 'Georgia';
    font-weight: 900;
    font-style: italic;
}
