.volunteerCont{
    text-align: center;
    margin-bottom: 25vh;
}
.volunteerCont h1{
    margin-top: 50px;
}

button {
   cursor: pointer; 
   border-radius: 20px;
   border: transparent;
   background-color: pink;
}
.volImages img{
    width: 100%;
}