.volunteerCont{
    text-align: center;
    margin-bottom: 25vh;
}
.volunteerCont h1{
    margin-top: 50px;
}
.volImages{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.volImages img{
    height: 300px;
}